.post {
  max-width: 500px;
  min-width: 380px;
  background-color: white;
  border: 1px solid lightgray;
  margin: auto;
  margin-bottom: 40px;
}

.post__image {
  width: 100%;
  object-fit: contain;
}

.post__text {
  font-weight: normal;
  padding: 10px;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 15px;
}

.post__avatar {
  margin-right: 10px;
}

.post__comments {
  padding: 20px;
}

.comment__box {
  display: flex;
}
.comment__input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}
.comment__button {
  flex: 0;
  border: none;
  color: #6082a3;
  border-top: 1px solid lightgray;
  background-color: transparent;
}
