.post {
  max-width: 500px;
  min-width: 380px;
  background-color: white;
  border: 1px solid lightgray;
  margin: auto;
  margin-bottom: 40px;
}

.post__image {
  width: 100%;
  object-fit: contain;
}

.post__text {
  font-weight: normal;
  padding: 10px;
  margin-bottom: -10px;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 15px;
}

.post__avatar {
  margin-right: 10px;
}

.post__comments {
  padding: 20px;
}

.comment__box {
  display: flex;
}

.comment__input {
  flex: 1;
  border: none;
  outline: none;
  padding: 25px 18px;
  border-top: 1px solid lightgray;
}

.comment__button {
  flex: 0;
  border: none;
  outline: none;
  padding-right: 15px;
  color: #b4e0fc;
  border-top: 1px solid lightgray;
  background-color: transparent;
}
.comment__button:enabled {
  color: #57b9f9;
}

.post__likes {
  display: flex;
}

.like__logo {
  margin-right: 10px;
}

.post__likes__delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
