* {
  margin: 0;
}

.app__body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px 0;
  background-color: #fafafa;
}

.left__side {
  margin: 0 15px;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px 5px 15px;
  border-bottom: 1px solid lightgray;
}

.app__headerImage {
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}
